<!-- -*- mode: XML -*- -->

<launch>

  <arg name="rviz" default="true" />

  <node pkg="monolio" type="monolio_processor_node" name="monolio_processor" output="log">
  	<param name="sensor_type" type="int" value="64" />
  </node>

  <node pkg="monolio" type="monolio_odometry_node" name="monolio_odometry" output="log">
  	 <param name="no_deskew" type="bool" value="false" />
  </node>

  <node pkg = "monolio" type = "monolio_mapping_node" name ="monolio_mapping" output = "screen">
  </node>
 <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find monolio)/config/lio_baseline.rviz" />
  </group>
   


</launch>
