<!-- -*- mode: XML -*- -->

<launch>
  <arg name="rviz" default="true" />
  <node pkg="monolio" type="monolio_processor_node" name="monolio_processor" output="log">
  	<param name="sensor_type" type="int" value="64" />
  </node>

  <arg name="config_path" default = "$(find monolio)/config/kitti_config_00.yaml" />
  <node pkg = "monolio" type = "monolio_estimator_node" name ="monolio_estimator" output = "screen">
        <param name = "config_file" type= "string" value ="$(arg config_path)"/>
  </node>
  
 <!--<arg name="loop_config_path" default = "$(find monolio)/config/kitti_loop_config_00.yaml" />
  <node pkg = "monolio" type = "monolio_loop_detection_node" name ="monolio_loop_detection" output = "screen">
        <param name = "loop_config_file" type= "string" value ="$(arg loop_config_path)"/>
  </node> -->

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find monolio)/config/lio_baseline.rviz" />
  </group>

   


</launch>
